footer {
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-content:      center;
    background-color:   #FF0000;
    width:              100%;
}

.footer-top {
    margin-top:         0;
    background-color:   #888888;
    width:              100%;
    min-height:         64px;
    display:            flex;
    justify-content:    center;
    align-content:      center;
}

.footer-phone-number {
    color:          white;
    font-weight:    bold;
    font-size:      24px;
}

.footer-bottom {
    background-color:   #111111;
    min-height:         256px;
}

.footer-menubar {

}

.footer-social-network {


}
