footer {
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-content:      center;
    background-color:   #FF0000;
    width:              100%;
}

.footer-top {
    background-color:   #444444;
    width:              100%;
    min-height:         64px;
    display:            flex;
    justify-content:    center;
    align-content:      center;
}

.green-rounded-textbox {
    background-color: #00aa00;
    border-radius: 20px;
    padding: 10px;
}

.footer-bottom {
    background-color:   #111111;
    min-height:         256px;
    display:            flex;
    flex-direction:     column;
}

.footer-social-icon {
    width:      32px;
    height:     32px;
}

.footer-menubar {

}

.footer-social-network {


}
