footer {
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-content:      center;
    background-color:   #FF0000;
    width:              100%;
}

.footer-top {
    background-color:   #444444;
    width:              100%;
    min-height:         64px;
    display:            flex;
    justify-content:    center;
    align-content:      center;
}

.green-rounded-textbox {
    background-color:   #00aa00;
    border-radius:      20px;
    padding:            8px;
    font-size:          smaller;
}

.footer-bottom {
    background-color:   #111111;
    min-height:         256px;
    display:            flex;
    flex-direction:     column;
    width:              100%;
    overflow:           hidden;
}

.footer-social-icon {
    width:              32px;
    height:             32px;
}

.footer-menu {
    overflow-x:         scroll;
    overflow-scrolling: auto;

}

.footer-menu-element {
    margin-right:       2%;
    margin-left:        2%;
    font-size:          smaller;
}



.footer-social-network {


}
