.background-image-header {
    background: url('../res/forest.jpg') no-repeat ;
    background-size:    cover;

    width:              100%;
    margin:             0;
    position:           relative;   /* Needed so the black transparent overlay fits over the picture    */
    display:            flex;
    flex-direction:     column;     /* Makes the flex work up-down instead of left-right                */
    height:             100vh;      /* Take all of the device's screen height (responsive)              */
}

.background-image-overlay {
    background-color:   rgba(0, 0, 0, 0.5);
    position:           absolute;
    width:              100%;
    height:             100%;
    top:                0;
    left:               0;
    z-index:            0;      /* Below other divs */
}

.title-text {
    text-align:     center;
    margin:         auto;
    color:          #FFFFFF;
    font-family:    Lora sans-serif;
    z-index:        1;          /* Above overlay div */
    max-width:      80vw;
    transition:     all 0.5s ease-in-out;
}

#title-main-text {
    margin-bottom:  0;
    font-weight:    bold;
    font-size:      64px;
    line-height:    64px;
    max-width:      80%;
}

#title-sub-text {
    margin-top:     48px;
    font-size:      24px;
    line-height:    24px;
}
