.navigation-bar {
    display:            flex;
    margin:             0;
    padding:            0;
    list-style:         none;

    width:              100%;       /* Takes up the whole page's width                                          */
    top:                0;          /* Located at the top of the page                                           */
    z-index:            10000;      /* on top of all other elements. Dirty way, but this is CSS after all ...   */
    position:           fixed;      /* Stays on top after scrolling                                             */
    height:             48px;       /* fixed height                                                             */
    background-color:   rgba(0, 0, 0, 0.75);    /* Todo: change to a real color when layout is done                         */
}

/* center content inside the element, both vertically & horizontally*/
.centered-content {
    display:            flex;
    justify-content:    center;
    align-items:        center;
}

.navigation-bar-separator {
    width:              auto;
    margin:             auto;
}

.navigation-bar-button {
    cursor:             pointer;
    margin-left:        16px;
    margin-right:       16px;
    align-items:        center;
    justify-content:    center;
    font-size:          23px;
    width:              auto;
    font-weight:        bold;
    color:              #FFFFFF;

}