body {
    margin: 0; /*
                * This is the kind of reasons why you don't use CSS
                * without a framework, but whatever ...
                * Not doing this results in a blank space at the left side of the navigation bar
                */
    font:13px/18px 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
}

main {
    display:            flex;
    justify-content:    center;
    align-content:      center;
}

h1 {
}

header {
}

/* Center the main body of the document, don't let it take too much space */
main {
}